In [4]:
import pandas as pd

In [5]:
df=pd.read_csv('Iris.csv')

In [6]:
df.head(2)

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [ ]:
df['Species'].unique()   # for unique categories

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [ ]:
# separating input and output features

X=df.drop(labels=['Id','Species'],axis=1)
Y=df[['Species']]      output features

In [10]:
X

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0              5.1           3.5            1.4           0.2
1              4.9           3.0            1.4           0.2
2              4.7           3.2            1.3           0.2
3              4.6           3.1            1.5           0.2
4              5.0           3.6            1.4           0.2
..             ...           ...            ...           ...
145            6.7           3.0            5.2           2.3
146            6.3           2.5            5.0           1.9
147            6.5           3.0            5.2           2.0
148            6.2           3.4            5.4           2.3
149            5.9           3.0            5.1           1.8

[150 rows x 4 columns]

In [11]:
# feature scaling

In [13]:
from sklearn.preprocessing import StandardScaler

In [18]:
scaler= StandardScaler().set_output(transform='pandas')
X_pre= scaler.fit_transform(X) # fitting the data X for scaling

In [19]:
import pickle  # pickle is used as a bridge to connect frontend and backend
with open('scaler.pkl','wb') as file1:
    pickle.dump(scaler,file1)

In [20]:
X_pre

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0        -0.900681      1.032057      -1.341272     -1.312977
1        -1.143017     -0.124958      -1.341272     -1.312977
2        -1.385353      0.337848      -1.398138     -1.312977
3        -1.506521      0.106445      -1.284407     -1.312977
4        -1.021849      1.263460      -1.341272     -1.312977
..             ...           ...            ...           ...
145       1.038005     -0.124958       0.819624      1.447956
146       0.553333     -1.281972       0.705893      0.922064
147       0.795669     -0.124958       0.819624      1.053537
148       0.432165      0.800654       0.933356      1.447956
149       0.068662     -0.124958       0.762759      0.790591

[150 rows x 4 columns]

In [21]:
# splitting the input data into training and testing

In [22]:
from sklearn.model_selection import train_test_split

In [ ]:
xtrain,xtest,ytrain,ytest=train_test_split(X_pre,Y,test_size=0.33,randomstate=20)

TypeError: got an unexpected keyword argument 'randomstate'

In [25]:
xtest.shape()

NameError: name 'xtest' is not defined

In [ ]:
ytest.value_counts()

In [26]:
# model bilding

In [27]:
from sklearn.linear_model import LogisticRegression

In [28]:
model=LogisticRegression()

In [29]:
model.fit(xtrain,ytrain)

NameError: name 'xtrain' is not defined

In [ ]:
# evaluation

In [31]:
model.score(xtrain,ytrain)

NameError: name 'xtrain' is not defined

In [ ]:
model.score(xtest,ytest)

In [32]:
with open('model.pkl','wb') as file2:
    pickle.dump(model,file2)

In [33]:
with open('model.pkl','rb') as file4:
    m=pickle.load(file4)